<!doctype>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Go Payments</title>
</head>
<body>
    <div class="container">
        <h2>Payments</h2>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sign-up">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/sign-in">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/payments/create">Add Payment</a>
            </li>
        </ul>
    </div>
    <script>
        var API = {{ .API_ADDRESS }}
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                //the url where you want to sent the userName and password to
                url: API + '/v1/users/41/payments',
                contentType:"application/json; charset=utf-8",
                dataType: 'json',
                //json object to sent to the authentication url
                success: function (response) {

                    console.log('sucess', response);
                },
                error: function (response) {
                    console.log('error', response);
                }
            });
        });
    </script>
</body>
</html>