<!doctype>
<html>
<head>
    <title>Go Payments</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h2>Payments</h2>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/sign-up">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/sign-in">Sign In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/payments/create">Add Payment</a>
        </li>
    </ul>
    <h3>Sign In</h3>
    <form method="post" id="sign-in-form" action="http://localhost:8000/v1/login">
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" class="form-control" placeholder="john_mcclan@test.com" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" placeholder="**********" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="alert alert-danger alert-dismissible fade js-error" role="alert">
        <strong>Error!</strong> <span class="js-error-content"></span>
    </div>
</div>
<script>
    var API = {{ .API_ADDRESS }}
    $(document).ready(function () {
        $('#sign-in-form').on('submit', function (event) {
            event.preventDefault();
            var data = {};
            $.map(($(this).serializeArray()), function (n, i) {
                data[n['name']] = n['value'];
            });

            $.ajax({
                type: "POST",
                //the url where you want to sent the userName and password to
                url: API + '/v1/login',
                crossDomain: true,
                contentType:"application/json; charset=utf-8",
                dataType: 'json',
                //json object to sent to the authentication url
                data: JSON.stringify(data),
                success: function (response) {
                    console.log('sucess', response);
                    //document.location.href="/";
                },
                error: function (response) {
                    console.log('error', response);
                    if (response.status === 400) {
                        $('.js-error').addClass('show');
                        $('.js-error-content').text(response.responseJSON.error);
                        setTimeout(function() {
                            $('.js-error').removeClass('show');
                        }, 5000);
                    }
                }
            });
            console.log(data);
        });
    });
</script>
</body>
</html>